<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Registration</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "register",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert('상품이 성공적으로 등록되었습니다!');
                        location.href = 'productList';
                    },
                    error: function (xhr, status, error) {
                        alert('상품 등록에 실패하였습니다. : ' + error);
                    }
                });
            });
        });
    </script>
</head>
<body>
<h2>상품 등록</h2>
<form action="register" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>카테고리:</td>
            <td>
                <!-- 카테고리 선택 dropdown -->
                <select name="categoryId" required>
                    <option value="">카테고리 선택</option>
                    <!-- 서버로부터 가져온 카테고리 목록을 동적으로 추가 -->
                    <option th:each="category : ${categories}" th:value="${category.categoryId}"
                            th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>상품 이름:</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>상품 코드:</td>
            <td><input type="text" name="code" required></td>
        </tr>
        <tr>
            <td>판매 가격:</td>
            <td><input type="number" name="sellPrice" required></td>
        </tr>
        <tr>
            <td>상품 이미지:</td>
            <td><input type="file" name="imageFile" accept="image/*" required></td>
        </tr>
    </table>
    <button type="submit">상품 등록</button>
    <br>
    <a href="productList" class="btn btn-primary">View Products List</a>
</form>

</body>
</html>
