<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  초기화,고정 css  -->
    <link rel="stylesheet" href="/css/global/init.css">
    <link rel="stylesheet" href="/css/global/default.css">
    <!--  커스텀 css  -->
    <link rel="stylesheet" href="/css/admin/admin.css">
    <!--  svg link  -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!--  jquey cdn  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--  script  -->
    <script src="/js/common.js"></script>
    <script src="/js/admin/aside.js"></script>
    <script src="/js/admin/main/section.js"></script>
    <title>admin</title>
</head>
<body>
<!--  aside area  -->
<aside>
    <th:block th:replace="admin/common/aside.html"></th:block>
</aside>
<!--  aside slide button  -->
<div class="arrow-back-ios">
    <span class="material-symbols-outlined" style="position: absolute; left: 30%;">arrow_back_ios</span>
</div>
<div class="arrow-forward-ios">
    <span class="material-symbols-outlined">arrow_forward_ios</span>
</div>
<!--    main area    -->
<main>
    <div id="main-wrap">
        <th:block th:replace="admin/main/section.html"></th:block>
    </div>
</main>
<script type="text/javascript">

</script>
</body>
</html>