<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  초기화,고정 css  -->
    <link rel="stylesheet" href="/css/global/init.css">
    <link rel="stylesheet" href="/css/global/default.css">
    <!--  커스텀 css  -->
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/main/section.css">
    <!--  svg link  -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!--  jquey cdn  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--  script  -->
    <script src="/js/common.js"></script>
    <script src="/js/admin/aside.js"></script>
    <script src="/js/admin/main/section.js"></script>
    <title>admin</title>
    <!--  google icon  -->
    <style>
        .alarm {
            font-variation-settings: 'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
            font-size: 60px;
            opacity: 0.7;
            cursor: pointer;
        }
    </style>
</head>
<body>
<!--  aside area  -->
<aside>
    <th:block th:replace="admin/common/aside.html"></th:block>
</aside>
<!--  aside slide button  -->
<div class="arrow-back-ios">
    <span class="material-symbols-outlined" style="position: absolute; left: 30%;">arrow_back_ios</span>
</div>
<div class="arrow-forward-ios">
    <span class="material-symbols-outlined">arrow_forward_ios</span>
</div>
<!--    main area    -->
<main>
    <div id="main-wrap">
        <section id="section1" class="section">
            <div class="rank-box">
                <h1>인기상품</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>img</th>
                        <th>제품명</th>
                        <th>판매수량</th>
                        <th>판매금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="sellingRankList : ${sellingRankList}">
                        <tr>
                            <td th:text="${sellingRankListStat.count}"></td>
                            <td style="text-align: center"><img style="width: 50px; height: 50px"
                                                                th:src="@{${sellingRankList.getProduct().getImage()}}"
                                                                class="gallery"></td>
                            <td th:text="${sellingRankList.getProduct().getName()}"></td>
                            <td th:text="${sellingRankList.getQuantity()} + EA"></td>
                            <td th:text="${#numbers.formatInteger(sellingRankList.getTotalPrice(), 3, 'COMMA') + '원'}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="section2" class="section">
            <div class="order-selling-box">
                <h1>주문현황</h1>
                <h2 th:if="${todayTotalPrice} != 0"
                    th:text="${date} + '&nbsp&nbsp&nbsp&nbsp&nbsp 주문 : ' + ${orderCount} + '건 &nbsp&nbsp&nbsp&nbsp&nbsp 매출 : ' + ${#numbers.formatInteger(todayTotalPrice, 3, 'COMMA') + '원'}"></h2>
                <h2 th:if="${todayTotalPrice} == 0"
                    th:text="${date} + '&nbsp&nbsp&nbsp&nbsp&nbsp 주문 : ' + ${orderCount} + '건 &nbsp&nbsp&nbsp&nbsp&nbsp 매출 : ' + ${todayTotalPrice + '원'}"></h2>
                <table>
                    <thead>
                    <tr>
                        <th>no</th>
                        <th>주문번호</th>
                        <th>주문수량</th>
                        <th>주문일자</th>
                        <th>주문가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="todayOrderList : ${todayOrderList}">
                        <tr>
                            <td th:text="${todayOrderListStat.count}"></td>
                            <td th:text="${todayOrderList.getOrdersId()}"></td>
                            <td th:text="${todayOrderList.getSelling().getQuantity()} + EA"></td>
                            <td th:text="${#dates.format(todayOrderList.getRegisterDate(),'yyyy.MM.dd HH:mm:ss')}"></td>
                            <td class="add-price"
                                th:text="${#numbers.formatInteger(todayOrderList.getSelling().getTotalPrice(), 3, 'COMMA') + '원'}"></td>
                        </tr>
                    </th:block>
                    <tr style="background: #e3e3e3">
                        <td colspan="4"></td>
                        <td class="total-price"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="section3" class="section">
            <div id="piechart" style="width: 100%; height: 100%; position: absolute; margin-left: 15%;"></div>
        </section>
        <section id="section4" class="section">
            <div id="chart_div1" style="width: 100%; height: 50%; position: absolute; top: 0"></div>
            <div id="chart_div2" style="width: 100%; height: 50%; position: absolute; bottom: 0"></div>
        </section>
    </div>
    <th:block th:if="${lowQuantity.size()} != 0">
        <p th:text="${lowQuantity.size()}"></p>
        <div class="alarm-box">
            <span class="material-symbols-outlined alarm">alarm_smart_wake</span>
        </div>
        <div class="low-quantity-box">
            <th:block th:each="lowQuantity : ${lowQuantity}">
                <div class="low-quantity">
                    <img th:src="@{${lowQuantity.getImage()}}">
                    <div class="text-box">
                        <p th:text="${lowQuantity.getName()}"></p>
                        <p style="color: red; margin-top: 7px"
                           th:text="${lowQuantity.getInventory().getQuantity()} + 'EA'"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</main>
<!--  google chart area -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        const get = /*[[${sellingInfo}]]*/;

        var data = new google.visualization.DataTable();

        data.addColumn('string', '상품명');
        data.addColumn('number', '판매수');

        chart_data = [];

        for (let i = 0; i < get.length; i++) {
            chart_data.push([get[i].product.name, get[i].quantity])
        }

        data.addRows(chart_data);

        var options = {
            title: '상품 판매 점유율',
            backgroundColor: "F3F1F5",
            fontSize: 16,
            chartArea: {left: 100, bottom: 20, width: '100%', height: '80%'},
            titleTextStyle: {
                fontSize: 24,
                bold: true,
            }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
        // Some raw data (not necessarily accurate)

        var data = google.visualization.arrayToDataTable([
            ['date', 'totalPrice', 'totalPrice'],
            /*[# th:each="sellingDay : ${sellingDay}"]*/
            [`[(${#dates.format(sellingDay.registerDate, 'yyyy.MM.dd')})]`, [(${sellingDay.totalPrice})], [(${sellingDay.totalPrice})]],
            /*[/]*/
        ]);

        var options = {
            title: '일일 매출',
            vAxis: {title: 'price'},
            hAxis: {title: 'day'},
            seriesType: 'bars',
            series: {1: {type: 'line'}},
            backgroundColor: "F3F1F5",
            titleTextStyle: {
                fontSize: 21,
                bold: true,
            }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawVisualization2);

    function drawVisualization2() {
        // Some raw data (not necessarily accurate)

        var data = google.visualization.arrayToDataTable([
            ['date', 'quantity', 'line'],
            /*[# th:each="sellingDay : ${sellingDay}"]*/
            [`[(${#dates.format(sellingDay.registerDate, 'yyyy.MM.dd')})]`, [(${sellingDay.quantity})], [(${sellingDay.quantity})]],
            /*[/]*/
        ]);

        var options = {
            title: '일일 제품 판매',
            vAxis: {title: 'quantity'},
            hAxis: {title: 'week'},
            seriesType: 'bars',
            series: {1: {type: 'line'}},
            backgroundColor: "F3F1F5",
            titleTextStyle: {
                fontSize: 21,
                bold: true,
            }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
    }

    /*]]>*/

    $(document).ready(function () {
        let totalPrice = 0;

        let spl = $(".add-price").text().split("원");

        for (let i = 0; i < spl.length; i++) {
            totalPrice += Number(spl.at(i).replace(",", ""));
        }

        totalPrice = totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        $(".total-price").text(totalPrice + "원")
    });
</script>
</body>
</html>