@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Orbit&display=swap');
body { font-family: 'Noto Sans KR', sans-serif; }

a {color: #fff; text-decoration: none; outline: none}

a:hover, a:active {text-decoration: none; color:#fff; background-color:#f59000;}