<html xmlns:th="http://www.thymeleaf.org">

<th:block th:each="sellingList : ${sellingList}">
    <tr class="product-hover">
        <!--  order_num  -->
        <td th:if="${sellingList.getOrders().getOrdersId()} == 0" style="text-align: center">-</td>
        <td th:if="${sellingList.getOrders().getOrdersId()} != 0"
            th:text="${sellingList.getOrders().getOrdersId()}"  style="text-align: center"></td>
        <!--  product_img  -->
        <td style="text-align: center"><img style="width: 30px; height: 30px"
                                            th:src="@{${sellingList.getProduct().getImage()}}" class="gallery"></td>
        <!--  product_name  -->
        <td th:text="${sellingList.getProduct().getName()}"></td>
        <!--  product_code  -->
        <td th:text="${sellingList.getProduct().getCode()}"></td>
        <!--  category  -->
        <td th:text="${sellingList.getCategory().getName()}"></td>
        <!--  product_delete_check  -->
        <td th:if="${sellingList.getProduct().isCheckProduct()} == false" } style="color: red;  background: #ff00002b;">Y</td>
        <td th:if="${sellingList.getProduct().isCheckProduct()} == true" }>N</td>
        <!--  sell_price  -->
        <td th:text="${#numbers.formatInteger(sellingList.getProduct().getSellPrice(), 3, 'COMMA') + '원'}" }></td>
        <!--  receiving_register_date  -->
        <td th:text="${#dates.format(sellingList.getRegisterDate(),'yyyy.MM.dd HH:mm:ss')}"></td>
        <!--  order_cancel_check      -->
        <td th:if="${sellingList.getOrders().isCheckOrders()} == false" } style="color: red;  background: #ff00002b;">취소처리</td>
        <td th:if="${sellingList.getOrders().isCheckOrders()} == true" }>-</td>
        <!--  sell_quantity  -->
        <td class="add-quantity" th:text="${sellingList.getQuantity()+ 'EA'}"></td>
        <!--  total_price  -->
        <td class="add-price" th:text="${#numbers.formatInteger(sellingList.getTotalPrice(), 3, 'COMMA') + '원'}" }></td>
    </tr>
</th:block>
<tr style="background: #e3e3e3;">
    <td colspan="9" style="text-align: center; height: 30px"></td>
    <td class="total-quantity"></td>
    <td class="total-price"></td>
</tr>