<html xmlns:th="http://www.thymeleaf.org">

<th:block th:each="ordersList : ${ordersList}">
    <tr class="product-hover">
        <!--  index  -->
        <td th:text="${ordersListStat.count}"></td>

        <!--  product_name : 주문번호 -->
        <td th:text="${ordersList.getOrdersId()}"></td>

        <!--  product_code : 상품코드 -->
        <!--<td th:text="${ordersList.isCheckOrders()} ? '미환불' : '환불성공'"></td>-->
        <td th:style="${ordersList.isCheckOrders()} ? 'color: blue;' : 'color: red;'"
            th:text="${ordersList.isCheckOrders()} ? '미환불' : '환불성공'"></td>

        <!--  receiving_register_date : 결제일자 -->
        <td th:text="${#dates.format(ordersList.getRegisterDate(),'yyyy.MM.dd HH:mm:ss')}"></td>
        <!-- 환불 취소 버튼, isCheckOrders가 false일 때만 표시 -->
        <td th:if="${!ordersList.isCheckOrders()}">
            <button type="button"
                    style="width: 75px; color: black; font-size: 12px; font-weight: bold; height: 25px; background: #be9a9a; color: white; border-radius: 10px; border: none;"
                    th:data-orders-id3="${ordersList.ordersId}">
                환불완료
            </button>
        </td>

        <!-- 전체환불 버튼, isCheckOrders가 true일 때만 표시 -->
        <td th:if="${ordersList.isCheckOrders()}">
            <button type="button"
                    class="btn-full-refund"
                    style="width: 75px; color: black; font-size: 12px; font-weight: bold; height: 25px; background: #a1a8be; color: white; border-radius: 10px; border: none;"
                    th:data-orders-id="${ordersList.ordersId}">
                전체환불
            </button>
        </td>
        <td>
            <button type="button" class="btn-partial-refund"
                    style="width: 75px; color: black; font-size: 12px; font-weight: bold; height: 25px; background: #a1a8be; color: white; border-radius: 10px; border: none;"
                    th:data-orders-id="${ordersList.ordersId}">부분환불</button>
        </td>
    </tr>

</th:block>