/* product section area */
h1 {
    position: absolute;
    left: 5%;
    top: 15%;
    font-size: 30px;
    font-weight: bold;
}

button {
    cursor: pointer;
}

/* search section1 area */
.section1 {
    position: relative;
    width: 100%;
    height: 40%;
}

.section1 .search-wrap {
    position: absolute;
    top: 30%;
    margin-left: 5%;
    width: 90%;
}

.section1 .search-wrap .search-box {
    padding: 1% 2%;
    border-radius: 30px;
    box-shadow: 0 7px 30px rgb(0 0 0 / 40%);
    background: white;
}

.section1 .search-wrap .search-box .search-table {
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 1% 0 4%;
    width: 100%;
}

.section1 .search-wrap .search-box .search-table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    background: #efefef;
}

.section1 .search-wrap .search-box .search-table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.section1 .search-wrap .search-box .search-table td:last-child {
    border-right: 1px solid #ccc;
}

.section1 .search-wrap .search-box .search-btn-box {
    position: absolute;
    left: 1.5%;
    bottom: 10%;
    width: 100%;
    float: left;
}

.section1 .search-wrap .search-box .search-btn-box button {
    margin: 0 0.5%;
}

.section1 .search-wrap .search-box .search-btn-box .save-btn {
    position: absolute;
    right: 3%;
}

.section1 .search-wrap .search-box .search-bar {
    position: absolute;
    right: 0%;
    bottom: -20%;
}

.section1 .search-wrap .search-box .search-name {
    height: 20px;
}

.section1 .search-wrap .search-box .search-img {
    position: absolute;
    right: 2%;
    top: 10%;
}

/* list section2 area*/
.section2 {
    position: relative;
    margin: 2% 5%;
    width: 100%;
    height: 58%;
    overflow: scroll;
}

.section2 table {
    margin-top: -1.1%;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.section2 th, .section2 td {
    padding: 6px 10px;
    vertical-align: middle;
}

.section2 th {
    position: sticky;
    top: 0;
    border: 1px solid rgb(86, 88, 100);
    background: #42444e;
    color: #fff;
    text-align: left;
    line-height: 30px;
    height: 30px;
}

.section2 th .asc {
    position: absolute;
    bottom: 6%;
    right: 5%;
    cursor: pointer;
    height: 50%;
    transition: .3s;
}

.section2 th .asc:hover {
    color: #2e6da4;
}

.section2 th .desc {
    position: absolute;
    top: 12%;
    right: 5%;
    cursor: pointer;
    height: 50%;
}

.section2 th .desc:hover {
    color: #2e6da4;
}

.order-by {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.section2 tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

.section2 tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

.section2 td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}

.section2 td:first-child {
    border-left: 1px solid #c6c9cc;
}

.section2 tr:nth-child(even) td {
    background: #eaeaed;
}

.section2 tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

.section2 tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.section2 td img {
    width: 30px;
    height: 30px;
}

.section2 .page-nav {
    margin-top: 3%;
    text-align: center;
    width: 100%;
    height: 10%;
}

/* product save form / cateogry delete form area*/
.product-save-from-wrap, .category-delete-from-wrap {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.product-save-from-wrap .product-save-form,
.category-delete-from-wrap .category-delete-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 50%;
    background: #F3F1F5;
    box-shadow: 0 7px 30px rgb(0 0 0 / 40%);
    border-radius: 20px;
}

.category-delete-from-wrap .category-delete-form {
    width: 35%;
    height: 25%;
    font-size: 18px;
    font-weight: bold;
}

.product-save-form .product-save-cancel-btn-box,
.category-delete-form .category-delete-btn-box{
    position: absolute;
    bottom: 15%;
}

/* category from area */
.category-form-wrap {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0 0 0 / -0.5);
    backdrop-filter: blur(4px);
}

.category-form-wrap .category-save-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
    height: 12%;
    width: 17%;
    background: #F3F1F5;
    box-shadow: 0 7px 30px rgb(0 0 0 / 40%);
}

.category-form-wrap .category-save-form .category-save-btn-box {
    margin-top: 10px;
}


/* up/down slide animation area*/
.up-slide-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 37%;
    width: 80px;
    height: 10%;
    cursor: pointer;
}

.down-slide-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: -10%;
    width: 80px;
    height: 10%;
    cursor: pointer;
}

.up-slide-on {
    animation-name: up-slide-ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.down-slide-on {
    animation-name: down-slide-ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes up-slide-ani {
    from {
        bottom: 0;
    }to {
        bottom:40px;
     }
}

@keyframes down-slide-ani {
    from {
        top: 0;
    }to {
        top:25px;
     }
}





