<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  초기화,고정 css  -->
    <link rel="stylesheet" href="/css/global/init.css">
    <link rel="stylesheet" href="/css/global/default.css">
    <!--  커스텀 css  -->
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/product/product.css">
    <link rel="stylesheet" href="/css/global/jqueryUi.css">
    <!--  svg link  -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!--  jquey cdn  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--  script  -->
    <script src="/js/common.js"></script>
    <script src="/js/admin/aside.js"></script>
    <script src="/js/admin/product/product.js"></script>
    <!--  jQuery UI  -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>product</title>
    <!--    google icon 커스텀    -->
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'wght' 350;
            font-size: 20px;
        }

        .up-slide {
            position: absolute;
            bottom: 8px;
        }

        .down-slide {
            position: absolute;
            top: 0;
        }
    </style>
</head>
<body>
<!--  aside area  -->
<aside>
    <th:block th:replace="admin/common/aside.html"></th:block>
</aside>
<!--  aside slide button  -->
<div class="arrow-back-ios">
    <span class="material-symbols-outlined" style="position: absolute; left: 30%;">arrow_back_ios</span>
</div>
<div class="arrow-forward-ios">
    <span class="material-symbols-outlined">arrow_forward_ios</span>
</div>
<!--    main area    -->
<main>
    <div id="main-wrap">
        <!--    section1 area    -->
        <section class="section1">
            <h1>Product</h1>
            <div class="search-wrap">
                <div class="search-box">
                    <table class="search-table">
                        <tr>
                            <th scope="row">카테고리</th>
                            <td>
                                <select class="select-category" style="width: 130px">
                                    <option selected value="all">전체</option>
                                    <th:block th:each="categoryList : ${categoryList}">
                                        <option th:text="${categoryList.getName()}"
                                                th:value="${categoryList.getCategoryId()}"></option>
                                    </th:block>
                                </select>
                            </td>
                            <th scope="row">상품 삭제</th>
                            <td>
                                <input type="radio" id="product-include" class="product-delete-check"
                                       name="product-delete" value="N" checked>
                                <label for="product-include">미포함</label>
                                <input type="radio" id="product-notInclude" class="product-delete-check"
                                       name="product-delete" value="Y">
                                <label for="product-notInclude">포함</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">기간 조회</th>
                            <td>
                                <input type="text" id="startDate" value="" placeholder=" 연-월-일" style="width: 100px;"> -
                                <input type="text" id="endDate" value="" placeholder=" 연-월-일" style="width: 100px;">
                            </td>
                            <th scope="row">카테고리 삭제</th>
                            <td>
                                <input type="radio" id="cateogory-include" class="category-delete-check"
                                       name="category-delete" value="N" checked>
                                <label for="cateogory-include">미포함</label>
                                <input type="radio" id="cateogory-notInclude" class="category-delete-check"
                                       name="category-delete" value="Y">
                                <label for="cateogory-notInclude">포함</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">-</th>
                            <td>
                            </td>
                            <th scope="row">-</th>
                            <td>
                                -
                            </td>
                        </tr>
                    </table>
                    <div class="search-btn-box">
                        <button class="all-search search-btn" style="width: 80px;height: 32px;">전체조회</button>
                        <button class="select-search search-btn" style="width: 80px;height: 32px;">검색하기</button>
                        <button class="save-btn check-btn" style="width: 90px;height: 32px;">등록하기</button>
                    </div>
                    <div class="search-bar">
                        <input class="search-name" type="text" placeholder="상품명을 입력하세요.">
                        <span class="material-symbols-outlined search-img">search</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="up-slide-box">
            <span class="material-symbols-outlined up-slide" style="font-size: 50px">stat_2</span>
        </div>
        <div class="down-slide-box">
            <span class="material-symbols-outlined down-slide" style="font-size: 50px">stat_minus_2</span>
        </div>
        <!--    section2 area    -->
        <section class="section2">
            <table>
                <thead>
                <tr>
                    <th style="width: 1%;">no</th>
                    <th style="width: 2%;">img</th>
                    <th style="width: 10%;">상품명
                        <span id="product.name-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.name-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 10%;">상품코드
                        <span id="product.code-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.code-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 8%;">카테고리
                        <span id="category.name-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="category.name-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 7%;">재고
                        <span id="inventory.quantity-desc"
                              class="material-symbols-outlined desc order">expand_less</span>
                        <span id="inventory.quantity-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 7%;">판매수량
                        <span id="selling_quantity-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="selling_quantity-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 8%;">판매금액
                        <span id="product.sell_price-desc"
                              class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.sell_price-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 8%;">총 판매금액
                        <span id="total_price-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="total_price-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 5%;">삭제</th>
                    <th style="width: 13%;">등록일자
                        <span id="product.register_date-desc"
                              class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.register_date-asc"
                              class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th>카테고리</th>
                    <th>상품</th>
                </tr>
                <img>
                </thead>
                <tbody class="product-list">
                <th:block th:replace="admin/product/ajax/productList.html"></th:block>
                </tbody>
            </table>
            <div class="page-nav">&copy copyright</div>
        </section>
    </div>
    <!--   delete pop-up     -->
    <div class="category-delete-from-wrap">
        <div class="category-delete-form">
            <div class="text-box">
                <p class="text">카테고리를 삭제하면 해당 카테고리에 등록된 모든 상품이 삭제처리 됩니다.</p>
                <P>그래도 삭제하시겠습니까?</P>
            </div>
            <div class="category-delete-btn-box">
                <button type="button" class="category-delete-btn cancel-btn" style="margin-right: 17px;">삭제</button>
                <button type="button" class="category-delete-cancel-btn check-btn">취소</button>
            </div>
        </div>
    </div>
    <!--   product / category add form     -->
    <div class="product-save-from-wrap">
        <form class="product-save-form" action="product/save" method="post" enctype="multipart/form-data"
              th:object="${product}">
            <ol>
                <li><label for="categoryId">category</label></li>
                <li>
                    <select class="category" id="categoryId" name="categoryId" style="width: 87px">
                        <option disabled selected>선택</option>
                    </select>
                    <button class="category-save" type="button" style="width: 80px">카테추가</button>
                </li>
                <li><label for="name">상품명</label></li>
                <li><input class="product-name" type="text" th:field="*{name}" placeholder="상품명을 입력하세요."></li>
                <li><label for="code">상품코드</label></li>
                <li><input class="product-code" type="text" th:field="*{code}" placeholder="상품코드를 입력하세요."></li>
                <li><label for="sellPrice">판매금액</label></li>
                <li><input class="product-sellPrice" type="text" th:field="*{sellPrice}" placeholder="판매금액을 입력하세요.">
                </li>
                <li><label for="inventory.quantity">재고수량</label></li>
                <li><input class="inventory-quantity" type="text" th:field="*{inventory.quantity}"
                           placeholder="재고수량을 입력하세요."></li>
                <li><label for="imageFile">사진</label></li>
                <li><input class="product-image" type="file" th:field="*{imageFile}" accept="image/*"
                           style="margin-left: 15%"></li>
            </ol>
            <div class="product-save-btn-box">
                <button class="product-save-btn check-btn" style="margin-right: 15px;">추가</button>
                <button type="reset" class="product-save-cancel-btn cancel-btn">취소</button>
            </div>
        </form>
    </div>
    <div class="category-form-wrap">
        <!--  category save form -->
    </div>
</main>
</body>
</html>