<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  초기화,고정 css  -->
    <link rel="stylesheet" href="/css/global/init.css">
    <link rel="stylesheet" href="/css/global/default.css">
    <!--  커스텀 css  -->
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/product/product.css">
    <link rel="stylesheet" href="/css/global/jqueryUi.css">
    <!--  svg link  -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!--  jquey cdn  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--  script  -->
    <script src="/js/common.js"></script>
    <script src="/js/admin/aside.js"></script>
    <script src="/js/admin/product/product.js"></script>
    <!--  jQuery UI  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>product</title>
    <!--    google icon 커스텀    -->
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'wght' 350;
            font-size: 20px;
        }
    </style>
</head>
<body>
<!--  aside area  -->
<aside>
    <th:block th:replace="admin/common/aside.html"></th:block>
</aside>
<!--  aside slide button  -->
<div class="arrow-back-ios">
    <span class="material-symbols-outlined" style="position: absolute; left: 30%;">arrow_back_ios</span>
</div>
<div class="arrow-forward-ios">
    <span class="material-symbols-outlined">arrow_forward_ios</span>
</div>
<!--    main area    -->
<main>
    <div id="main-wrap">
        <!--    section1 area    -->
        <section class="section1">
            <h1>Product</h1>
            <div class="search-wrap">
                <div class="search-box">
                    <table class="search-table">
                        <tr>
                            <th scope="row">category</th>
                            <td>
                                <select class="select-category" style="width: 130px">
                                    <option selected value="all">전체</option>
                                    <th:block th:each="categoryList : ${categoryList}">
                                        <option th:text="${categoryList.getName()}"
                                                th:value="${categoryList.getCategoryId()}"></option>
                                    </th:block>
                                </select>
                            </td>
                            <th scope="row">product_cancel</th>
                            <td>
                                <input type="radio" id="product-include" class="product-delete-check"
                                       name="product-delete" value="N" checked>
                                <label for="product-include">미포함</label>
                                <input type="radio" id="product-notInclude" class="product-delete-check"
                                       name="product-delete" value="Y">
                                <label for="product-notInclude">포함</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">register_date</th>
                            <td>
                                <input type="text" id="startDate" value="" placeholder=" 연-월-일" style="width: 100px;"> -
                                <input type="text" id="endDate" value="" placeholder=" 연-월-일" style="width: 100px;">
                            </td>
                            <th scope="row">category_cancel</th>
                            <td>
                                <input type="radio" id="cateogory-include" class="category-delete-check"
                                       name="category-delete" value="N" checked>
                                <label for="cateogory-include">미포함</label>
                                <input type="radio" id="cateogory-notInclude" class="category-delete-check"
                                       name="category-delete" value="Y">
                                <label for="cateogory-notInclude">포함</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">inventory</th>
                            <td>
                            </td>
                            <th scope="row">-</th>
                            <td>
                                -
                            </td>
                        </tr>
                    </table>
                    <div class="search-bar">
                        <input class="search-name" type="text" placeholder="product_name">
                        <span class="material-symbols-outlined search-img">search</span>
                    </div>
                    <div class="search-btn-box">
                        <button class="all-search">전체조회</button>
                        <button class="select-search">검색하기</button>
                        <button class="save-btn">등록하기</button>
                    </div>
                </div>
            </div>
        </section>
        <!--    section2 area    -->
        <section class="section2">
            <table>
                <thead>
                <tr>
                    <th style="width: 1%;">no</th>
                    <th style="width: 2%;">image</th>
                    <th style="width: 10%;">name
                        <span id="product.name-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.name-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 10%;">code
                        <span id="product.code-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.code-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 8%;">category
                        <span id="category.name-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="category.name-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 7%;">I_quan
                        <span id="inventory.quantity-desc"
                              class="material-symbols-outlined desc order">expand_less</span>
                        <span id="inventory.quantity-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 7%;">S_quan
                        <span id="selling_quantity-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="selling_quantity-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 8%;">sell_price
                        <span id="product.sell_price-desc"
                              class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.sell_price-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 9%;">total_price
                        <span id="total_price-desc" class="material-symbols-outlined desc order">expand_less</span>
                        <span id="total_price-asc" class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th style="width: 5%;">cencel</th>
                    <th style="width: 13%;">register_date
                        <span id="product.register_date-desc"
                              class="material-symbols-outlined desc order">expand_less</span>
                        <span id="product.register_date-asc"
                              class="material-symbols-outlined asc order">expand_more</span>
                    </th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                <img>
                </thead>
                <tbody class="product-list">
                <tr th:each="productList : ${productList}">
                    <!--     index     -->
                    <td th:text="${productListStat.count}"></td>
                    <!--     product_img     -->
                    <td style="text-align: center;"><img th:src="@{${productList.getImage()}}"></td>
                    <!--     product_name     -->
                    <td th:text="${productList.getName()}"></td>
                    <!--     product_code     -->
                    <td th:text="${productList.getCode()}"></td>
                    <!--     category     -->
                    <td th:if="${productList.getCategory().isCheckCategory()} == false"
                        th:text="${productList.getCategory().getName()}" style="color: red; font-weight: bold"></td>
                    <td th:text="${productList.getCategory().getName()}"></td>
                    <!--     inventory_quantity     -->
                    <td th:if="${productList.getInventory().getQuantity} <= 5"
                        th:text="${productList.getInventory().getQuantity+ '개'}"
                        style="font-weight: bold; color: red"></td>
                    <td th:if="${productList.getInventory().getQuantity} > 5"
                        th:text="${productList.getInventory().getQuantity+ '개'}"></td>
                    <!--     sell_quantity     -->
                    <td th:text="${productList.getSelling().getQuantity + '개'}"></td>
                    <!--     sell_price     -->
                    <td th:text="${#numbers.formatInteger(productList.getSellPrice(), 3, 'COMMA') + '원'}" }>-</td>
                    <!--     total_price     -->
                    <td th:if="${productList.getSelling().getTotalPrice} == 0" }>-</td>
                    <td th:if="${productList.getSelling().getTotalPrice} != 0"
                        th:text="${#numbers.formatInteger(productList.getSelling().getTotalPrice, 3, 'COMMA') + '원'}" }>
                        -
                    </td>
                    <!--     check_product     -->
                    <td th:if="${productList.isCheckProduct()} == false" } style="color: red; font-weight: bold">Y</td>
                    <td th:if="${productList.isCheckProduct()} == true" }>N</td>
                    <!--     register_date     -->
                    <td th:text="${#dates.format(productList.getRegisterDate(),'yyyy.MM.dd HH:mm:ss')}"></td>
                    <td>
                        <button>카테삭제</button>
                    </td>
                    <td>
                        <button>수정</button>
                        <button>삭제</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="page-nav">1 2 3 4 5 6</div>
        </section>
    </div>
    <!--   category add form     -->
    <form id="productForm" action="/api/product/save" method="post" enctype="multipart/form-data">
    <div class="product-save-from-wrap">
        <div class="product-save-form">
            <table>
                <tr>
                    <td>카테고리:</td>
                    <td>
                        <!-- 카테고리 선택 dropdown -->
                        <select class="category" name="categoryId" required>
                            <option disabled>카테고리 선택</option>
                            <!-- 서버로부터 가져온 카테고리 목록을 동적으로 추가 -->
                            <option th:each="categoryList : ${categoryList}"
                                    th:value="${categoryList.categoryId}"
                                    th:text="${categoryList.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>상품 이름:</td>
                    <td><input class="product-name" type="text" name="name" required></td>
                </tr>
                <tr>
                    <td>상품 코드:</td>
                    <td><input class="product-code" type="text" name="code" required></td>
                </tr>
                <tr>
                    <td>판매 가격:</td>
                    <td><input class="product-sellPrice" type="number" name="sellPrice" required></td>
                </tr>
                <tr>
                    <td>상품 이미지:</td>
                    <td><input class="product-image" type="file" name="imageFile" accept="image/*" required></td>
                </tr>
            </table>

            <div class="product-save-btn-box">
                <button class="product-save-btn">추가</button>
                <button class="product-save- cancel-btn">취소</button>
            </div>
        </div>
    </div>
    </form>
</main>
</body>
</html>