<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!--  초기화,고정 css  -->
    <link rel="stylesheet" href="/static/css/global/init.css">
    <link rel="stylesheet" href="/static/css/global/default.css">
    <!--  커스텀 css  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--  jquey cdn  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!--  script  -->
    <script src="/static/js/common.js"></script>
    <title>main</title>
</head>
<body>
<div class="logo">
    <h1>Logo</h1>
    <span>kiosk</span>
</div>
<main>
    <!--  main area  -->
    <div id="product-list-wrap">
        <!--  product list area  -->
        <nav>
            <h2>CHOOSE CATEGORY</h2>
            <!--  nav area  -->
            <ol>
                <li>cate</li>
                <li>cate/cate</li>
                <li>test</li>
                <li>list</li>
                <li>cate</li>
                <li>dd</li>
                <li>cate</li>
                <li>ssdddddddd</li>
            </ol>
        </nav>
        <div class="product-list">
            <h2>CHOOSE PRODUCT</h2>
            <div class="item-wrap">
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>
                <div class="item">
                    <img src="dd">
                    <h3>제품이름</h3>
                    <span>30,000원</span>
                </div>

            </div>
        </div>
        <footer>
            <!--  footer area  -->
            <span>&copycopyright</span><br>
        </footer>
    </div>
    <div id="order-list-wrap">
        <div class="order-list">
            <h2>MY ORDER</h2>
            <div class="order-wrap">
                <ul>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                    <li>
                        <div class="order">
                            <img src="dd">
                            <div class="text-box">
                                <h3>제품이름</h3><br>
                                <span>30,000원</span>
                            </div>
                            <div>수량</div>
                        </div>
                    </li>
                </ul>

<!--                <div class="order">-->
<!--                    <img src="dd">-->
<!--                    <div class="text-box">-->
<!--                        <h3>제품이름</h3><br>-->
<!--                        <span>30,000원</span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="order-button">
                <button>결제하기</button>
                <button>모두삭제</button>
            </div>
        </div>
        <!--  order list area  -->
    </div>
</main>
</body>
</html>