<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  jQuery UI  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<title>부분 환불 정보</title>-->
    <!-- 여기에 필요한 CSS와 JavaScript 파일을 포함하세요 -->
</head>
<body>
<!-- 부분 환불 정보 테이블 -->
<div th:fragment="partial-refund-details">
<!--    <h3>부분 환불 정보</h3>-->
    <table>
        <thead>
        <tr>
            <th>판매 ID</th>
            <th>상품명</th>
            <th>주문 ID</th>
            <th>수량</th>
            <th>총 가격</th>
            <th>환불 상태</th>
            <th>부분환불</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="selling : ${sellingList}">
            <td th:text="${selling.sellingId}"></td>
            <td th:text="${selling.product.name}"></td>
            <td th:text="${selling.ordersId}"></td>
            <td th:text="${selling.quantity} + ' 개'"></td>
<!--            <td th:align="center">-->
<!--                <button class="quantity-decrease" style="width: 45px; color: black; font-size: 15px; font-weight: bold; height: 18px; background: #a1a8be; color: white; border-radius: 10px; border: none;">-</button>-->
<!--                <span class="quantity" th:text="${selling.quantity}"></span> 개-->
<!--                <button class="quantity-increase" style="width: 45px; color: black; font-size: 15px; font-weight: bold; height: 18px; background: #a1a8be; color: white; border-radius: 10px; border: none;">+</button>-->
<!--                <input type="hidden" class="max-quantity" th:value="${selling.quantity}"/>-->
<!--            </td>-->
            <td th:text="${#numbers.formatDecimal(selling.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' 원'"></td>
            <!--<td th:text="${selling.checkSelling} ? '대기' : '환불완료'"></td>-->
            <td th:style="${selling.checkSelling} ? 'color: blue' : 'color: red;'"
                th:text="${selling.checkSelling} ? '결제완료' : '환불완료'"></td>
            <td th:align="center">
                <!-- 환불 버튼 -->
                <button th:if="${selling.checkSelling}"
                        th:data-orders-id2="${selling.ordersId}"
                        th:data-product-id2="${selling.productId}"
                        style="width: 75px; color: black; font-size: 12px; font-weight: bold; height: 25px; background: #a1a8be; color: white; border-radius: 10px; border: none;"
                        class="btn btn-product-refund"> 결제취소
                </button>
                <!-- 환불 취소 버튼 -->
                <button th:if="${!selling.checkSelling}"
                        th:data-orders-id3="${selling.ordersId}"
                        th:data-product-id4="${selling.productId}"
                        style="width: 75px; color: black; font-size: 12px; font-weight: bold; height: 25px; background: #be9a9a; color: white; border-radius: 10px; border: none;"
                        > 완료
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
