/* section common*/
.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* section1*/
#section1 {
    width: 50%;
}

#section1 div {
    display: block;
}

/* section1*/
#section2 {
    width: 50%;
}

/* section3*/
#section3 {
    width: 50%;
}

/* section4*/
#section4 {
    width: 50%;
}